/* -------------------  GENERAL SITE STYLES/RESETS ------------------ */
/* My inital resets based on KPowell's Variation on Andy Bell's reset:
    https://piccalil.li/blog/a-modern-css-reset/ */

@import url('../assets/stylesheets/posts.css');

:root {
/* Color Palette */
    --darkest: #000814ff;
    --dark: #001d3dff;
    --middlest: #003566ff;
    --light: #ffc300ff;
    --lightest: #ffd60aff;

    --light-grey: rgb(144, 142, 142);

/* Design Components */
    --border: solid .05em var(--darkest); 
}

/* Box Sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Reset Margins */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
picture {
    font-family: 'Montserrat';
    margin: 0;
}

/*-------- ACCESSIBILITY SETTINGS ------- */
/* Remove Animations for Users Who Have Turned Them Off 
this is primarily an ACCESSIBILITY concern*/
@media (prefers-reduced-motion: reduce) {
    *,
    *::before,
    *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
  }
  
  .sr-only {  
      position: absolute;
      width: 1px;
      height: 1px;
      padding: 0;
      margin: -1px;
      overflow: hidden;
      clip: rect(0,0,0,0);
      white-space: nowrap; /* added this line to ruleset provided in previous Udacity project */
      border: 0;
    }

/* -------------------  MOBILE  --------------------- */
/* Body Settings */
body {
    line-height: 1.5;
    min-height: 100vh;
    font-size: 16px;
}

/* Image Settings */
img {
    max-width: 100%;
    display: block;
}

h1 {
    font-family: 'Montserrat Subrayada';
    font-size: 4rem;
    display: inline-block;
    text-align: center;
    transform: translateY(-40px);
}

h2 {
    font-family: 'Montserrat';
    /* padding-bottom: 1em; */
}

p {
    display: inline-block;
}

i {
    padding: .5em;
}

/* Form Element Settings */
/* (probably won't be using MUCH on this particular product BUT
important for acccomodating inheritance of upstream settings */
input,
button,
textarea,
select {
    font: inherit;
}


/* --------------- */
/* Utility Classes */
/* --------------- */

.flex {
    display: flex;
    gap: var(--gap, 0.5rem)
}

.grid {
    display: grid;
    gap: var(--gap, 0.5rem)
}

.container {
    padding: 0 2em;
    margin: 0 auto;
    max-width: 100vw;
    min-height: 100vh;
    align-items: center;
    grid-template-columns: 5vw;
    grid-template-rows: 10vh;
    grid-template-areas: 
    "hd hd hd hd hd hd hd hd hd hd hd"
    "sn nb nb sb sb sb cont cont cont cont cont"
    "sn nb nb sb sb sb cont cont cont cont cont"
    "sn nb nb sb sb sb cont cont cont cont cont"
    "sn nb nb sb sb sb cont cont cont cont cont"
    "sn nb nb sb sb sb cont cont cont cont cont"
    "sn nb nb sb sb sb cont cont cont cont cont"
    "sn nb nb sb sb sb cont cont cont cont cont"
    "sn nb nb sb sb sb cont cont cont cont cont"
    "ft ft ft ft ft ft ft ft ft ft ft"
    ; 
}
/* Could add align and justify classes here if necessary */

.box {
    padding: 2rem;
    width: 100%;
    height: 100%;
}

.nav-link-box.flex {
    justify-content: center;
    align-items: center;
    position: relative;
    border-top: 1px solid rgba(144, 142, 142, 0.3);
    border-width: .175em;
    border-color: var(--light-grey);
    opacity: 0.6;
}

.text {
    position: absolute;
}

.article-text-area {
    flex-flow: column nowrap;
    align-items: center;
}

.selected {
    color: var(--light);
    font-weight: bold;
    opacity: 1;
}



#header {
    grid-area: hd;
    border-bottom: 1px solid rgba(144, 142, 142, 0.3);
    border-width: .175em;
}

#icons { 
    grid-area: hd; 
    display: inline-block;
    margin-left: 1.5em;
    z-index: 1;
    margin: 0;
    transform: translate(85%);
}

#nav.box.grid {
    grid-area: nb;
    color: var(--darkest);
    border-left: 1px solid rgba(144, 142, 142, 0.3);
    border-right: 1px solid rgba(144, 142, 142, 0.3); 
    border-width: .175em;
    border-color: var(--light-grey);
    cursor: pointer;
    margin-top: 4em;
}


#side-nav.box.grid {
    grid-area: sn;
    writing-mode: vertical-rl;
    text-orientation: sideways;
    text-align: right;
    transform: rotate(-180deg);
    color: var(--darkest);
    padding: 0.25em;
    margin-top: 3.5em;
}

.nav-link-box#wrestling {
    border-top: 0;
    transform: translateY(-25px);
}

span.text#playing {
    transform: translateY(25px);
}

#sidebar {
    grid-area: sb;
    grid-column: 4 / 9;
    background-image: url('../images/otoole.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    margin-top: 4em;
    margin-left: 0.5em;
}

#content {
    grid-area: cont;
    grid-column: 9 / 12;
    display: grid;
    color: var(--darkest);
    max-width: 35vw;
    text-align: left;
    margin: 0 auto;
}

#footer {
    grid-area: ft;
    max-height: 5vh;
    font-size: .75em;
    text-align: right;
    color: var(--light);
    font-weight: lighter;
}

#gallery {
    grid-area: gall; 
}



/* -------------------  TABLET  --------------------- */
@media only screen and (max-width: 768px) {
    i {
        display: inline-block;
        text-align: center;
        width: 30%;
    }

    .container {
        margin: 0;
        display: flex;
        padding: 0.25em;
        align-items: center;
        flex-direction: column;
    }

   #sidebar,
   #footer,
   #content,
   #header,
   #icons,
   #nav,
   #side-nav {
      display: inline-block;
      min-width: 100%;
      /* background-color: chartreuse; */
   }


   #header {
        order: -5;
        text-align: center;
        padding: unset;
    }

    h1 {
        transform: translate(0, 5px);
        margin: 0;
    }

    #side-nav.box.grid {
        order: -4;
        writing-mode: unset;
        text-orientation: unset;
        text-align: center;
        transform: unset;
        color: var(--darkest);
        padding: unset;
        margin-top: unset;

    }

    #icons.box.grid {
        display: flex;
        order: -3;
        background-color: chocolate;
        transform: translate(0, 0);
        background-color: var(--light);

    }


    #content {
        order: -2;
    }

    #nav {
        order: -1;
    }

    #nav.box.grid {
        display: none;
        z-index: -2;
        all: unset;
    }

    #footer {
        order: 1;
        text-align: center;
    }

    #sidebar {
        order: 0;
    }

    /* .nomobile {
        display: none;
    } */

    .nav-link-box.flex {
        display: flex;
        min-width: 100%;
        background-color: chocolate;
    }

    #playing.nav-link-box.flex {
        background-color: chartreuse;
        z-index: -2;
        display: none;
        border: none;
    }

    #wrestling.nav-link-box.flex {
        background-color: chartreuse;
        z-index: -2;
        display: none;
        border: none;
    }

    #speaking.nav-link-box.flex {
        background-color: chartreuse;
        z-index: -2;
        display: none;
        border: none;
    }

    /* .nav-link-box {
        transform: translateY(0, 0);
        justify-content: space-evenly;
    } */
    
    span.text#playing {
        transform: translateY(0, 0);
    }
}




/* -------------------  LAPTOP  --------------------- */
/* @media screen and (min-width: 100) {
   #sidebar {
       display: none;
   }
} */
 /* -------------------  DESKTOP  -------------------- */
/* @media (min-width: 1200px) {
   
} */
/* -------------------  LARGE SCREENS  -------------- */
  