/* .container {
    padding: 0 2em;
    margin: 0 auto;
    max-width: 100vw;
    min-height: 100vh;
    align-items: center;
    grid-template-columns: 100%;
    grid-template-rows: 10vh;
    grid-template-areas: 
    "hd hd hd hd hd hd hd hd hd hd"
    "sn nb sb sb cont cont cont cont cont cont"
    "sn nb sb sb cont cont cont cont cont cont"
    "sn nb sb sb cont cont cont cont cont cont"
    "sn nb sb sb cont cont cont cont cont cont"
    "sn nb sb sb cont cont cont cont cont cont"
    "sn nb sb sb cont cont cont cont cont cont"
    "sn nb sb sb cont cont cont cont cont cont"
    "sn nb sb sb cont cont cont cont cont cont"
    "ft ft ft ft ft ft ft ft ft ft"
    ; 
} */
